#sidebar {
    background: #314550;
    flex-direction: column;
    ul {
        flex-direction: column;
        margin: 2px;
        padding: 24px;
        list-style-type: none;
    }
    a {
        color: #c7c6bd;
        text-decoration: none;
    }
}